/* General */

html, body {
    height: 100%;
    font-size: 120%;
}

body {
    padding-top: 55px;
    display: flex;
    text-align: left;
    flex-direction: column;
    font-size: 0.9rem;
}

main {
    margin: auto;
    padding: 25px;
    flex: 1 0 auto;
    max-width: 750px;
}

img {
    max-width: 100%;
}

figure {
    float: right;
    width: 50%;
    padding: 0 0 25px 50px;
  }

figcaption {
    text-align: left;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
}

/* .left-half {
    float: left;
    width: 30%;
    padding: 5px 50px 20px 0px;
} */


.h2, h2 {
    color: #000000;
    font-weight: 300;
    font-size: 1.8rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.h3, h3 {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 25px;
}

.h4, h4 {
    margin-top: 0px;
    margin-bottom: 12px;
    font-size: 1rem;
}

.h5, h5 {
    font-weight: 400;
    font-size: 0.9rem;
}

.content {
    margin-bottom: 50px;
}

.single {
    margin-bottom: 10px;
}

.nav > li > a {
    padding: 10px 12px;
}

.navbar {
    min-height: 40px;
}


/* Homepage */

.splashpic {
    background: url('/images/splashpic.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size:cover;
    max-width: 100%;
    margin-top: -20px;
    display: flex;
    justify-content: center;
}

.intro {
    /* transform: translateY(5vh); */
    display: flex;
    text-align: center;
    flex-direction: row;
    min-height: 350px;
    width: 750px;
    padding: 25px;
}

.intro-text {
    width: 60%;
    align-self: flex-end;
    text-align: left;
    padding-right: 50px;
}

.text-bkg {
    background-color: #000000;
    padding: 5px;
}


.intro-pic {
    width: 35vh;
    align-self: flex-end;
    object-fit: scale-down;
    /*transform: translateY(30px);*/
}

.intro h1 {
    color: #ffffff;
    font-size: 3rem;
    font-family: "Alata";
}

.intro h2 {
    color: #ffffff;
    font-size: 1.4rem;
    padding-bottom: 10px;
    font-weight: 300;
}

.homepage-content {
    padding: 0px;
    text-align: left;
    justify-content: center;
}

.homepage-content h3 {
    margin-bottom: 20px;
}

.section {
    max-width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.subsection {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.lead-text {
    max-width: 800px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.lead-text h2 {
    font-size: 1.2rem;
}

.subsection h1 {
    padding:25px;
}

.subsubsection h3 {
    margin: 0px;
}

.subsubsection {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 25px;
    align-items: left;
    justify-content: center;
}

.subsubsection-link {
    padding-top: 20px;
}

.grid-wrapper {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.grid-container {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 50px;
    padding-bottom: 0px;
    align-content: center;
}

.grid-element {
    display: flex;
    width: 31%;
    aspect-ratio: 1;
    margin: 5px;
    align-items: flex-end;
    text-align: center;
    background-color:white;
}

.grid-element-one {
    background: url('/images/main-teaching.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.grid-element-two {
    background: url('/images/main-engagement.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.grid-element-three {
    background: url('/images/main-culture.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.grid-element h3 {
    padding: 10px;
    margin: 0 10px 0px 10px;
    background-color:rgba(255, 255, 255, 0.9);
    transform: translateY(-10px);
}

.bkg-white {
    background-color:  #ffffff;
}

.bkg-shade {
    background-color: #ffffff;
}

.publications {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 800px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
}

.publications-title {
    display:flex;
    width:100%;
    padding-left: 25px;
    padding-right: 25px;
}

.publications-images {
    display: flex;
    width: 40%;
    padding-left: 25px;
    padding-right: 0px;
}

.publications-text {
    display: flex;
    flex-direction:column;
    width: 60%;
    padding-left: 25px;
    padding-right: 25px;
}

.publications-text-item {
    display: flex;
    width: 100%;
    padding: 25px;
    align-items: left;
    justify-content: center;
}

.publications img {
    width:100%;
    object-fit: scale-down;
}

/* About page */

.about {
    /* transform: translateY(5vh); */
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 50px;
}

.about-left {
    width: 35%;
    align-self: center;
    padding-right: 0px;
}

.about-right {
    width: 65%;
    align-self: center;
}

.about h1 {
    color: #212121;
    font-size: 2.5rem;
    font-family: "Alata";
    text-align: left;
}

.about h2 {
    color: #757575;
    font-size: 1.3rem;
    padding-bottom: 10px;
    font-weight: 300;
    text-align: left;
}

.content-left {
    float: left;
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 30px;
    padding-bottom: 10px;
    width: 30%;
    text-align: left;
}


@media screen and (max-width: 500px) {

    figure {
        float: right;
        width: 50%;
        padding: 0 0 25px 15px;
      }

    ul {
        padding-left: 15px;
    }

    .intro {
      flex-direction: column;
      min-height: 350px;
    }

    .intro-pic {
        transform: translateY(0px);
        width: 25vh;
    }

    .intro h1 {
        font-size: 2.9rem;
    }

    .intro h2 {
        font-size: 1.3rem;
    }

    .intro-text {
        width: 100%;
        
    }


    .lead-text {
        padding-left: 25px;
        padding-right: 25px;
    }

    .section {
        flex-direction: column;
    }

    .subsection {
        width:100%;
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
    }

    .subsubsection {
        width:100%;
    }

    .put-first-on-shrink  {
        order: -1;
    }

    .grid-element h3 {
        padding: 10px;
        margin: 0px;
        background-color:rgba(255, 255, 255, 0.9);
        transform: translateY(60px);
    }

    .publications {
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
    }

    .publications-images {
        width:70%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .publications img {
        max-width: 100%;
    }

    .publications-text {
        width: 100%;
    }

    .about {
        flex-direction: column;
        min-height: 350px;
    }

    .about-right {
        width: 100%;
    }

    .about-left {
        width: 100%;
        align-self: flex-end;
        text-align: right;
    }

    .content-left {
        float: left;
        padding-top: 5px;
        padding-left: 0px;
        padding-right: 30px;
        padding-bottom: 10px;
        width: 100%;
        text-align: left;
    }

    .content-left img {
        max-width: 40%;
        padding-top: 20px;
    }

  }



/* List item for posts/projects */

.item {
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
}

.item-tag {
    background-color: var(--accent);
}

.item img {
    border-radius: 0em;
}

.item-left {
    order: 1;
    width: 40%;
    padding: 0px;
}

.item-right {
    order: 2;
    width: 60%;
    margin-left: 40px;
}





/* Profile picture */

.about-pic {
    width: 20vh;
    height: 20vh;
    /* border-radius: 50%; */
    object-fit: scale-down;
}



/* Colored links */

a:link, a:visited {
    color: var(--accent);
    text-decoration: underline;
    /*font-weight: 500;*/
}

.navbar-default .navbar-nav > li > a {
    text-decoration: none;
}

.dropdown-menu > li > a {
    text-decoration: none; 
}


a.icon:hover, a:focus {
    text-decoration: underline;
}

a:hover, a:focus {
    color: var(--accent) !important;
    text-decoration: underline;
}

.dropdown-menu > .active > a {
    background-color: #0B9A9F;
}

.dropdown-header {
    padding: 5px 20px 5px 20px;
    font-size: 0.7rem;

}

.dropdown-menu .divider {
    margin: 4px 0;
}

.dropdown-menu {
    background-color: #f8f8f8;
    font-size: 0.8rem;
}

/* Contact page */
.contact {
    width: 100%;
    margin-top: 40px;
    margin-right: +15px;
    margin-left: +15px;
}


/* Paginator */

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}



/* Navigation icons */

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/* Soundcloud iframe player */

.soundcloud-player {
    padding: 0 0 25px;
}

/* ELN data iframe */

.eln-data {
    padding: 20px 0 20px;
}

.handmade {
    padding-top: 20px;
    text-align: center;
}

/* Footnotes */

.footnotes {
    font-size: 0.7rem;
}

.footnotes > hr {
    margin-top: 50px;
}



/* Copyright message */

.copyright {
    margin: 15px 0;
}



/* Colored borders at top/bottom of page */

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
}


/* Footer */

footer {
    padding: 50px 0 20px;
    border-bottom: var(--border-width) solid var(--accent);
    text-align: center;
    font-size: 0.7rem;
}